<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>524484730347-jflofpobnjvl6ucsu3t0r64omcki30rf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.524484730347-jflofpobnjvl6ucsu3t0r64omcki30rf</string>
	<key>API_KEY</key>
	<string>AIzaSyADXybhS1FpX8O5gK1Igy7UXuGb7C1zt8o</string>
	<key>GCM_SENDER_ID</key>
	<string>524484730347</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ibeyonde.cam</string>
	<key>PROJECT_ID</key>
	<string>ibeyonde</string>
	<key>STORAGE_BUCKET</key>
	<string>ibeyonde.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:524484730347:ios:f9ad0bb9b80c2317f60dae</string>
</dict>
</plist>
